---
config_name: stocklab-twse
force_offline: false
timezone_offset: 8 # Taiwan timezone: GMT+8
root_dir: "./"
database:
  type: mssql
  driver: ODBC Driver 17 for SQL Server
  host: dburl
  user: user
  password: pw
  rebuild_metadata: false
cache:
  type: sqlite
  filename: db.sqlite
